[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==1.12.1"
jina = "==3.7.12"
transformers = "==4.21.1"
pydantic = "*"
numpy = "*"
pytorch-lightning = "*"
pyyaml = "*"
joblib = "*"

[dev-packages]
autopep8 = "*"
torch-tb-profiler = "*"

[requires]
python_version = "3.9"
